body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

h1 {
    color: #444;
    margin-top: 20px;
    font-size: 2em;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
}

input[type="text"],
select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

#soruListesi {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    width: 80%;
}

.soru-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.soru-item button {
    background-color: #356fdc;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 10px;
}

#quiz-container {
    display: inline-block;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#soruMetni {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cevap-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cevap-btn:hover {
    background-color: #0069d9;
}

#sonuc {
    display: none;
}

#geriBtn {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s;
}

#geriBtn:hover {
    background-color: #5a6268;
}
